@use "../scss/buttons" as buttons;

.page {

}

.settingsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.settingsOpenButton {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.settingsDialog {
  position: relative;
  padding: 30px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.65);
    opacity: 0.7;
  }
}

.settingsFieldset {
  margin-bottom: 30px;

  > div {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
}

.settingsCloseButton {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  width: auto;

  position: absolute;
  top: 0;
  right: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.redButton {
  @include buttons.button3d(60, 100px, 700px, 1.1);
}

.doomsday {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.doomsdayImage {
  position: absolute;
  inset: 0;
  background-image: url('/images/doomsday.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  animation: wiggle 2s ease-in-out alternate-reverse infinite;
  scale: 1.5;

}


.doomsdayRestartButton {
  width: auto;
  display: inline-block;
  margin: 30px auto;
}

@keyframes wiggle {
  0%, 7% {
    transform:  rotateZ(0);
    scale: 2;
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
