/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid black;
  color: white;
  width: 100%;
  background-color: black;
  text-transform: uppercase;
  padding: 10px 20px;
}

input {
  width: 100%;
  padding: 10px 20px;
  border:1px solid black;
}

input[type=checkbox] {
  display: block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
label {
  width:100%;
}
