@mixin button3d($size-viewport: 50, $size-min: 150px, $size-max: 500px, $aspect-ratio: 1, $depth-percentage: 0.9, $depth-ratio:0.3) {

  display: block;
  padding: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  aspect-ratio: $aspect-ratio;
  border: 2px solid black;
  outline: none;
  border-radius: 50%;

  top: 0;
  transition: top .2s ease-in-out, box-shadow .2s ease-in-out, height .2s ease-in-out;

  &:before {
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: yellow;
    transition: height .2s ease-in-out;
    outline: 2px solid yellow;

    @media(orientation: landscape) {
      top: calc(clamp(#{$size-min * 0.5}, #{($size-viewport * 0.5) + vh }, #{$size-max * 0.5}));
      height: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio});

    }
    @media(orientation: portrait) {
      top: calc(clamp(#{$size-min * 0.5}, #{($size-viewport * 0.5) + vw }, #{$size-max * 0.5}));
      height: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio});
    }
  }
  

  @media(orientation: landscape) {
    margin-bottom: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio});
    height: clamp(#{$size-min}, #{$size-viewport + vh}, #{$size-max});
    box-shadow: 0 clamp(#{$size-min*$depth-percentage*$depth-ratio}, #{$size-viewport*$depth-percentage*$depth-ratio + vh}, #{$size-max*$depth-percentage*$depth-ratio}) 0 darkred;

    &:active {
      top: clamp(#{$size-min*$depth-percentage*$depth-ratio * (1-$depth-ratio)},#{$size-viewport*$depth-percentage*$depth-ratio * (1-$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio * (1-$depth-ratio)});
      box-shadow: 0 clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vh},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))}) 0 darkred;

      &:before {
        height: clamp(#{$size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio)},#{($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio) + vh)},#{$size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio)});
      }
    }
  }

  @media(orientation: portrait) {
    margin-bottom: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio});
    height: clamp(#{$size-min}, #{$size-viewport + vw}, #{$size-max});
    box-shadow: 0 clamp(#{$size-min*$depth-percentage*$depth-ratio}, #{$size-viewport*$depth-percentage*$depth-ratio + vw}, #{$size-max*$depth-percentage*$depth-ratio}) 0 darkred;

    &:active {
      top: clamp(#{$size-min*$depth-percentage*$depth-ratio * (1-$depth-ratio)},#{$size-viewport*$depth-percentage*$depth-ratio * (1-$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio * (1-$depth-ratio)});
      box-shadow: 0 clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vw},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))}) 0 darkred;

      &:before {
        height: clamp(#{$size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio)},#{($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio) + vw)},#{$size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio)});
      }
    }
  }

  //@media(orientation: portrait) {
  //  width: clamp(#{$size-min}, #{$size-viewport + vw}, #{$size-max});
  //  box-shadow: 0 clamp(#{$size-min*$depth-percentage*$depth-ratio}, #{$size-viewport*$depth-percentage*$depth-ratio + vw}, #{$size-max*$depth-percentage*$depth-ratio}) 0 darkred;
  //
  //  &:active {
  //    top: clamp(#{$size-min*$depth-percentage*($depth-ratio - 1)}, #{$size-viewport*$depth-percentage*($depth-ratio - 1) + vw}, #{$size-max*$depth-percentage*($depth-ratio - 1)});
  //    box-shadow: 0 clamp(#{$size-min*$depth-percentage*($depth-ratio - 1)}, #{$size-viewport*$depth-percentage*($depth-ratio - 1) + vw}, #{$size-max*$depth-percentage*($depth-ratio - 1)}) 0 darkred;
  //
  //    &:before {
  //      height: #{calc(($size-max*0.5) - ($size-max*$depth-percentage*0.67))};
  //    }
  //  }
  //}
}
