@mixin button3d(
  $size-viewport: 50,
  $size-min: 150px,
  $size-max: 500px,
  $aspect-ratio: 1.1,
  $depth-percentage: 0.1,
  $depth-ratio:0.4,
  $bg-color: red,
  $text-color: white,
  $font-size-ratio: 0.35
) {
  $bg-color-darker: darken($bg-color, 30%);

  background-color: $bg-color;
  color: $text-color;
  display: block;
  padding: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  aspect-ratio: $aspect-ratio;
  border: 2px solid $bg-color-darker;
  outline: none;
  border-radius: 50%;

  top: 0;
  transition: top .2s ease-in-out, box-shadow .2s ease-in-out, height .2s ease-in-out;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.065em 0 $bg-color-darker;

  isolation: isolate;


  &:after {
    z-index: -1;
    content: '';
    background-color: $bg-color;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: none;
  }

  &:before {
    z-index: -2;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: $bg-color-darker;
    transition: height .2s ease-in-out;
    box-shadow: 2px 0 0 $bg-color-darker, -2px 0 0 $bg-color-darker;
    border: none;

    @media(orientation: landscape) {
      top: clamp(#{$size-min * 0.5}, #{($size-viewport * 0.5) + vh }, #{$size-max * 0.5});
      height: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio});

    }
    @media(orientation: portrait) {
      top: clamp(#{$size-min * 0.5}, #{($size-viewport * 0.5) + vw }, #{$size-max * 0.5});
      height: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio});
    }
  }


  @media(orientation: landscape) {
    font-size: clamp(calc(#{$size-min} * #{$font-size-ratio}), calc(#{$size-viewport + vh} * #{$font-size-ratio}), calc(#{$size-max} * #{$font-size-ratio}));
    margin-bottom: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio});
    height: clamp(#{$size-min}, #{$size-viewport + vh}, #{$size-max});
    box-shadow: 0 clamp(#{$size-min*$depth-percentage*$depth-ratio}, #{$size-viewport*$depth-percentage*$depth-ratio + vh}, #{$size-max*$depth-percentage*$depth-ratio}) 0 $bg-color-darker;

    &:active {
      top: clamp(#{$size-min*$depth-percentage*$depth-ratio * (1-$depth-ratio)},#{$size-viewport*$depth-percentage*$depth-ratio * (1-$depth-ratio) + vh},#{$size-max*$depth-percentage*$depth-ratio * (1-$depth-ratio)});
      box-shadow: 0 clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vh},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))}) 0 $bg-color-darker;

      &:before {
        height: clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vh},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))})
      }
    }
  }

  @media(orientation: portrait) {
    font-size: clamp(calc(#{$size-min} * #{$font-size-ratio}), calc(#{$size-viewport + vw} * #{$font-size-ratio}), calc(#{$size-max} * #{$font-size-ratio}));
    margin-bottom: clamp(#{$size-min*$depth-percentage*$depth-ratio},#{($size-viewport*$depth-percentage*$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio});
    height: clamp(#{$size-min}, #{$size-viewport + vw}, #{$size-max});
    box-shadow: 0 clamp(#{$size-min*$depth-percentage*$depth-ratio}, #{$size-viewport*$depth-percentage*$depth-ratio + vw}, #{$size-max*$depth-percentage*$depth-ratio}) 0 $bg-color-darker;

    &:active {
      top: clamp(#{$size-min*$depth-percentage*$depth-ratio * (1-$depth-ratio)},#{$size-viewport*$depth-percentage*$depth-ratio * (1-$depth-ratio) + vw},#{$size-max*$depth-percentage*$depth-ratio * (1-$depth-ratio)});
      box-shadow: 0 clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vw},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))}) 0 $bg-color-darker;

      &:before {
        height: clamp(#{($size-min*$depth-percentage*$depth-ratio) - ($size-min*$depth-percentage*$depth-ratio*(1-$depth-ratio))},#{($size-viewport*$depth-percentage*$depth-ratio) - ($size-viewport*$depth-percentage*$depth-ratio*(1-$depth-ratio)) + vW},#{($size-max*$depth-percentage*$depth-ratio) - ($size-max*$depth-percentage*$depth-ratio*(1-$depth-ratio))})
      }
    }
  }
}

